<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Products</title>
  </head>
  <body style="margin:2%">
    <div>
      <table class="table">
          <tr>
            <th class="text-center">Titulo</th>
            <th class="text-center">Precio</th>
            <th class="text-center">imagen</th>
          </tr> 
          {{#each response}}
          <tr>
            <td class="text-center">{{this.title}}</td>
            <td class="text-center">{{this.price}}</td>
            <td class="text-center"><img src={{this.link}} width="10%"></td>
          </tr>
        {{/each}}
      </table>
    </div>
  </body>
</html>