   
    <div>
         <div>
      <table class="table">
          <tr>
            <th class="text-center">Titulo</th>
            <th class="text-center">Precio</th>
            <th class="text-center">imagen</th>
          </tr> 
          {{#each response}}
          <tr>
            <td class="text-center">{{this.nombre}}</td>
            <td class="text-center">{{this.precio}}</td>
            <td class="text-center"><img src={{this.url}} width="10%"></td>
          </tr>
        {{/each}}
      </table>
    </div>
    </div>