body{
    margin: 5%;
}

.chatContainer{
    display: flex;
justify-content: center;
width: 90%;

}

.sendMessage{
display: flex;
justify-content: center;
flex-direction: column;
width: 50%;
}

.lineMessage{
    display: flex;
}
